{% extends "basic.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<!-- {% block head_title %}{% trans "Change Password" %}{% endblock %} -->
{% block content %}
<!-- <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <button class="btn btn btn-light" type="submit">Reset</button>
                </div>
                <input type="submit" name="action" value="{% trans 'change password' %}"/> 
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %} -->


<div class="container vertical-center">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <img style="height: 100%; width:60%;" src="{% static 'img/images/brand.png' %}" alt="" srcset="">
            </div>
            <div class="border-bottom mb-4 login-title">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
            </div>
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <button class="btn btn btn-light" type="submit">Reset</button>
                </div>
                <!-- <input type="submit" name="action" value="{% trans 'change password' %}"/> -->
            </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}