{% extends "basic.html" %}
{% load i18n %}
{% load static %}
{% load account %}
{% block content %}
<!-- 
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset My Password' %}" />
</form>

<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
 -->


<div class="container vertical-center">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <img style="height: 100%; width:60%;" src="{% static 'img/images/brand.png' %}" alt="" srcset="">
            </div>
            <form method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class="border-bottom mb-4 login-title">
                        Reset Your Password
                    </div>
                    {{ form }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn btn-light" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}