{% extends "basic.html" %}
{% load static %}
{% block content %}
<script src="{% static 'js/core.js' %}"></script>
<header class="masthead text-white text-center mt-5" style="background-image:url('{% static "/img/images/bg.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1>
                    <a class="typewrite" data-period="2000"
                        data-type='["Welcome to", "Green IOT", "We keep your devices running!"]'>
                        <span class="wrap"></span>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center oswald mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <i class="fas fa-heart"></i>
                    <h3>Keeping your IOT devices running</h3>
                    <p class="lead mb-0">You've already got it, why replace it?</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <i class="fas fa-theater-masks"></i>
                    <h3>Easy* DNS based setup</h3>
                    <p class="lead mb-0">By configuring your router you can switch your devices to us.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <i class="fas fa-hand-peace"></i>
                    <h3>Open Source</h3>
                    <p class="lead mb-0">Our code is open source, patches welcome :)</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase oswald mt-2 mb-2">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Keep in touch with your family</h2>
                <p class="lead mb-0">Have a talkie device your little loves? We'll get it back up and running :)</p>
                <button type="button" class="btn btn-info">Get started</button>
                <!-- Ideally we'd link these to seperate guides -->
            </div>
        </div>
        <!-- 
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img"
                style="background-image: url('https://i.picsum.photos/id/1022/6000/3376.jpg?hmac=FBA9Qbec8NfDlxj8xLhV9k3DQEKEc-3zxkQM-hmfcy0');">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Lorem, ipsum.</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, voluptate
                    deleniti!!</p>
                <button type="button" class="btn btn-info">Get started</button>

            </div>
        </div> -->

        <div class="row no-gutters">
            <div class="col-lg-6  text-white showcase-img"
                style="background-image: url('https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Keep your pets fed!</h2>
                <p class="lead mb-0">Have a petnet smart feeder? Keep your service running with us.</p>
                <button type="button" class="btn btn-info">Get started</button>
                <!-- Ideally we'd link these to seperate guides -->

            </div>
        </div>
    </div>
</section>

<section class="find text-center oswald">
    <div class="m-2">
        <h1>Find us on!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="">
                    <img src="{% static 'img/images/playstore.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="">
                    <img src="{% static 'img/images/appstore.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}