{% extends "basic.html" %}
{% load static %}

{% block content %}

<script>
    var TxtType = function (el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function () {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function () {
            that.tick();
        }, delta);
    };

    window.onload = function () {
        var elements = document.getElementsByClassName('typewrite');
        for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
<header class="masthead text-white text-center mt-5" style="background-image:url('{% static "/img/images/bg.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1>
                    <a class="typewrite" data-period="2000"
                        data-type='["Welcome to", "Green IOT", "We keep your devices running!"]'>
                        <span class="wrap"></span>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center oswald mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <i class="fas fa-heart"></i>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing.!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <i class="fas fa-theater-masks"></i>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing.!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <i class="fas fa-hand-peace"></i>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing.!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase oswald mt-2 mb-2">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Lorem, ipsum dolor.</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, voluptate
                    deleniti!!</p>
                <button type="button" class="btn btn-info">Get started</button>

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img"
                style="background-image: url('https://i.picsum.photos/id/1022/6000/3376.jpg?hmac=FBA9Qbec8NfDlxj8xLhV9k3DQEKEc-3zxkQM-hmfcy0');">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Lorem, ipsum.</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, voluptate
                    deleniti!!</p>
                <button type="button" class="btn btn-info">Get started</button>

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Easy to Use &amp; Customize</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, voluptate
                    deleniti!!</p>
                <button type="button" class="btn btn-info">Get started</button>

            </div>
        </div>
    </div>
</section>

<section class="find text-center oswald">
    <div class="m-2">
        <h1>Find us on!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="">
                    <img src="{% static 'img/images/playstore.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="">
                    <img src="{% static 'img/images/appstore.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}