{% extends "basic.html" %}
{% load static %}
{% block content %}
<div id="accordion" class="myaccordion">
    <h1>Set up your Device easly:</h1>
    <h3>Learn how to set up your device by simple instructions!</h3>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Step one: Configure your router
                    <span class="fa-stack fa-sm" style="width: 3em;">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="text-white fa-stack-1x">
                            1
                        </i>
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse plus-minus-toggle collapsed" aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Step two: sign up for an account.
                    <span class="fa-stack fa-sm" style="width: 3em;">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="text-white fa-stack-1x">
                            2
                        </i> </span>
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    Step three: download the app and add your devices.
                    <span class="fa-stack fa-sm" style="width: 3em;">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="text-white fa-stack-1x">
                            3
                        </i> </span>
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                    <li>Lorem, ipsum.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class=" myaccordion video mt-2 mb-5">
    <h3>
        Learn How to set up your device by video!
    </h3>
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-8 col-md-offset-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe style="border: 5px solid #424e4a;border-radius: 25px;" src="
                    //player.vimeo.com/video/22428395"></iframe>
            </div>
        </div>
    </div>
    <h4 class="text-center">
        That's it ❤️️
    </h4>
</div>
{% endblock %}
