{% extends "basic.html" %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row py-5 title">
        <h1>
            List of current Devices!
        </h1>
    </div>
</div>
<div class="container ml-0 mr-0" style="padding-left: 0px;">
    <div class="row py-5">
        <div class="col-12">
            <table id="example" class="table table-hover responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Device Number</th>
                        <th>Device Lorem</th>
                        <th>Device Lorem</th>
                        <th>Date of expiration</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-2">AD</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">A Device</p>
                                        <p class="text-muted mb-0">Lorem, ipsum.</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>123745</td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="badge badge-danger badge-danger-alt">Disabled</div>
                        </td>
                        <td class="text-center">09/04/2021</td>
                    </tr>

                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-2">MD</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">M Device</p>
                                        <p class="text-muted mb-0">Lorem, ipsum.</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>126845</td>
                        <td>
                            <div class="badge badge-danger badge-danger-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Disabled</div>
                        </td>
                        <td class="text-center">19/11/2021</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-2">MD</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">M Device</p>
                                        <p class="text-muted mb-0">Lorem, ipsum.</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>129945</td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="badge badge-danger badge-danger-alt">Disabled</div>
                        </td>
                        <td class="text-center">09/09/2021</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}