{% extends "basic.html" %}
{% load static %}
{% block content %}
<style>
    .table {
        border-spacing: 0 0.85rem !important;
    }

    .table .dropdown {
        display: inline-block;
    }

    .table td,
    .table th {
        vertical-align: middle;
        margin-bottom: 10px;
        border: none;
    }

    .table thead tr,
    .table thead th {
        border: none;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: transparent;
    }

    .table td {
        background: #fff;
    }

    .table td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .table td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .avatar {
        width: 2.75rem;
        height: 2.75rem;
        line-height: 3rem;
        border-radius: 50%;
        display: inline-block;
        background: transparent;
        position: relative;
        text-align: center;
        color: #868e96;
        font-weight: 700;
        vertical-align: bottom;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .avatar-sm {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 0.83333rem;
        line-height: 1.5;
    }

    .avatar-img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .avatar-blue {
        background-color: #c8d9f1;
        color: #467fcf;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
        top: 28px;
        left: 14px;
        border: none;
        box-shadow: none;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
        padding-left: 48px;
    }

    table.dataTable>tbody>tr.child ul.dtr-details {
        width: 100%;
    }

    table.dataTable>tbody>tr.child span.dtr-title {
        min-width: 50%;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
    table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,
    table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
        padding: 0.75rem 1rem 0.125rem;
    }

    div.dataTables_wrapper div.dataTables_length label,
    div.dataTables_wrapper div.dataTables_filter label {
        margin-bottom: 0;
    }

    @media (max-width: 767px) {
        div.dataTables_wrapper div.dataTables_paginate ul.pagination {
            -ms-flex-pack: center !important;
            justify-content: center !important;
            margin-top: 1rem;
        }
    }

    .btn-icon {
        background: #fff;
    }

    .btn-icon .bx {
        font-size: 20px;
    }

    .btn .bx {
        vertical-align: middle;
        font-size: 20px;
    }

    .dropdown-menu {
        padding: 0.25rem 0;
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
    }

    .badge {
        padding: 0.5em 0.75em;
    }

    .badge-success-alt {
        background-color: #d7f2c2;
        color: #7bd235;
    }

    .table a {
        color: #212529;
    }

    .table a:hover,
    .table a:focus {
        text-decoration: none;
    }

    table.dataTable {
        margin-top: 12px !important;
    }

    .icon>.bx {
        display: block;
        min-width: 1.5em;
        min-height: 1.5em;
        text-align: center;
        font-size: 1.0625rem;
    }

    .btn {
        font-size: 0.9375rem;
        font-weight: 500;
        padding: 0.5rem 0.75rem;
    }

    .avatar-blue {
        background-color: #c8d9f1;
        color: #467fcf;
    }

    .avatar-pink {
        background-color: #fcd3e1;
        color: #f66d9b;
    }

    .title {
        font-family: 'Oswald', sans-serif;
        color: darkslategrey;
        text-decoration: underline;
        font-weight: 900;
    }
</style>
<div class="container text-center">
    <div class="row py-5 title">
        <h1>
            List of current Devices!
        </h1>
    </div>
</div>
<div class="container ml-0 mr-0" style="padding-left: 0px;">
    <div class="row py-5">
        <div class="col-12">
            <table id="example" class="table table-hover responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Device Number</th>
                        <th>Device Lorem</th>
                        <th>Device Lorem</th>
                        <th>Date of expiration</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-2">AD</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">A Device</p>
                                        <p class="text-muted mb-0">Lorem, ipsum.</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>123745</td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="badge badge-danger badge-danger-alt">Disabled</div>
                        </td>
                        <td class="text-center">09/04/2021</td>
                    </tr>

                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-2">MD</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">M Device</p>
                                        <p class="text-muted mb-0">Lorem, ipsum.</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>126845</td>
                        <td>
                            <div class="badge badge-danger badge-danger-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Disabled</div>
                        </td>
                        <td class="text-center">19/11/2021</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-2">MD</div>

                                    <div class="">
                                        <p class="font-weight-bold mb-0">M Device</p>
                                        <p class="text-muted mb-0">Lorem, ipsum.</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>129945</td>
                        <td>
                            <div class="badge badge-success badge-success-alt">Enabled</div>
                        </td>
                        <td>
                            <div class="badge badge-danger badge-danger-alt">Disabled</div>
                        </td>
                        <td class="text-center">09/09/2021</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}